:root {
  --square-alt-color: #bbb;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  display: grid;
  grid-template-areas:
    'header header header header'
    '. history board .';
  grid-template-rows: 0fr 1fr;
  grid-template-columns: 3fr 120px 1fr 5fr;

  /*border: 3px solid goldenrod;*/
}

.header {
  grid-area: header;

  display: grid;
  height: 4rem;
  padding-left: 1rem;
  width: 100vw;

  background: rgba(10, 20, 60, 1);
  box-shadow: 0px 0px 5px #888;
}

.header h1 {
  font-variant: small-caps;
  color: white;
}

.board-history {
  grid-area: history;

  width: 100%;
  text-align: left;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
  text-align: center;

  /*border: 1px solid red;*/
}

.board-history h3 {
  color: #666;
  font-variant: small-caps;
}

.board-moves {
  display: flex;

  flex-direction: column;
  /*margin-top: 10px;*/
  padding-top: 12px;
  padding-bottom: 12px;

  height: calc((1.7em * 12) + 12px);
  width: 7em;
  overflow-y: overlay;

  /*border: 1px solid green;*/

}

.board-moves__fade-before {
    content:'';
    margin-top: 10px;
    margin-bottom: -30px; /* extra 10px top margin */
    height: 31px;
    width: 90%;
    background: linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    position: relative;
    pointer-events: none;

    /*border: 1px solid grey;*/
}

.board-moves__fade-after {
    content:'';
    margin-top: -30px;
    height: 31px;
    width: 90%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    position: relative;
    pointer-events: none;
    /*border: 1px solid grey;*/
}

/* width */
::-webkit-scrollbar {
  /*width: 5px;*/
}

/* Track */
::-webkit-scrollbar-track {
  /*background: #f1f1f1; */
  /*border: 1px solid #eee;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  /*background: #ccc; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #ccc; */
}


.notation {
  font-family: monospace;
  font-size: 1.3em;
  line-height: 1.6em;
}

.notation small {
  color: #aaa;
}

.board {
  grid-area: board;
  justify-self: center; 
  align-self: start;

  display: grid;
  height: 30vw;
  width: 30vw;
  min-width: 400px;
  min-height: 400px;
  margin: 40px;
  grid-template-areas:
    'numbers squares takes'
    '. letters .'; 

  /*border: 2px solid purple;*/
}

.board-takes {
  grid-area: takes;
  align-self: center;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 95%;
  width: 4.5em;
  margin-left: 20px;

  border: 1px solid #eee;

  font-size: 2em;
}

@media (max-width: 860px) {
  .board {
    grid-template-areas:
      '. takes'
      'numbers squares'
      '. letters'; 
  }

  .board-takes {
    flex-wrap: nowrap;
    height: 2em;
    width: 100%;
    max-width: 400px;

    margin-left: 0;
    margin-bottom: 10px;
    overflow-x: auto;
  }
}

.board-takes>* {
  margin: 0.2em;
}

.board-takes__undo {
  color: lightgrey;
  text-decoration: line-through;
}

.board-squares {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.board-numbers {
  grid-area: numbers;

  height: 30vw;
  width: 1em;
  min-height: 400px;

  color: #bbb;
  padding-right: 0.5em;

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;

  /*border: 1px solid red;*/

}

.board-letters {
  grid-area: letters;

  width: 30vw;
  height: 1em;
  min-width: 400px;
  
  color: #bbb;
  display: flex;
  
  justify-content: space-around;
  padding-top: 0.5em;

  /*border: 1px solid red;*/

}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}


.square:nth-child(9n) {
  background: #ddd;
}

.square:nth-child(9n + 2) {
  background: #ddd;
}

.square:nth-child(11n - 2) {
  background: #ddd;
}

.piece {
  font-size: 2em;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

table {
  grid-area: squares;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  transform: scale(0.99);
  transition: all 500ms;
}

table.preview {
  
  transform: scale(1);

  -moz-box-shadow:    0 0 10px #888;
  -webkit-box-shadow: 0 0 10px #888;
  box-shadow:         0 0 10px #888;
}

table:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 500ms;
  background: rgba(255, 255, 255, 0);

  pointer-events: none;
}

table.preview:after {
  background: rgba(255, 50, 255, 0.1);
}

.square__selected {
  /*background: yellow !important;*/
  -moz-box-shadow:    inset 0 0 10px tomato;
   -webkit-box-shadow: inset 0 0 10px tomato;
   box-shadow:         inset 0 0 10px tomato;
}

table td {
  height: calc(100%/8);
  width: calc(100%/8);
  text-align: center;
  border: 1px solid var(--square-alt-color);
}

table tr:nth-child(even) td:nth-child(2n+1) {
  background: var(--square-alt-color);
}

table tr:nth-child(odd) td:nth-child(2n) {
  background: var(--square-alt-color);
}

button {
    display: inline-block;
    border: 1px solid lightgrey;
    margin: 0;
    text-decoration: none;
    font-variant: small-caps;
    background: none;
    color: #666;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background: lightgrey;
}

button:focus {
    outline: 1px solid cornflowerblue;
}

button:active {
    transform: scale(0.99);
}
